#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}


.header_area {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 0;
    height: 100px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
    -webkit-transition-duration: 700ms;
    transition-duration: 700ms;
}

.header_area.sticky {
    background-color: black;
    background-image: none;
    box-shadow: 0 6px 30px rgb(64, 71, 92);
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar-brand img {
    height: 70px;
    padding-left: 5em;
}

.navbar-nav {
    padding-right: 10em;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;

    transition: all .2s ease-out;
}

#navbar ul li a:hover {
    color: white !important;
    background-color: rgb(89, 96, 252) !important;
    border-radius: 5%;
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
    color: black !important;
    font-weight: 600;
    font-size: 16px;
}

.nav-link.sticky {
    color: #f2f2f2 !important;
    font-weight: 600;
    font-size: 16px;
}

.display-4 {
    text-align: left;
    color: #70926E !important;
    border: none !important;

}

.contact {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-wrap {
    width: 790px;
    background: #fff;
    border-radius: 10px;
    padding: 72px 55px 90px 55px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contact-form {
    width: 50%;

}

.contact-title {
    display: block;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 50px;
    color: black;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 90px;
    font-weight: bold;
}

.contact-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.wrap-input {
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 40px;
    position: relative;
    background-color: transparent;
    color: transparent;
}

.input {
    height: 45px;
    display: block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: midnightblue;
    border: none;

    background-color: transparent;
    line-height: 1.2;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.container-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-button {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
}

.contact-button {
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 200px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    line-height: 1.2;
    border: 2px solid black;
    border-radius: 12px;
    background-color: black;
    transition: all .2s ease-out;
}

.contact-button:hover {
    color: black;
    background-color: white;
    border: 2px solid white;
    background-position: left bottom;
}

.index-body-layout {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 5em;
}

.index-contact-button {
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 200px;
    height: 70px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    color: white;
    line-height: 1.2;
    border: 2px solid black;
    border-radius: 12px;
    background-color: black;
    transition: all .2s ease-out;
}

.index-contact-button:hover {
    color: black;
    background-color: white;
    border: 2px solid white;
    background-position: left bottom;
}

::placeholder {
    color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    height: 150px;
}

.bodytext-layout-layer0 img {
    padding-bottom: 10px;
}

.body-text {
    padding: 10px;
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: Georgia, serif;
    justify-content: left;
    text-indent: -20px;
    line-height: 200%;
    width: 50%;
}

.body-head {
    padding: 20px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
    font-weight: bold;
}

.bodytext-layout {
    padding: 300px 0 30em 0;
    max-width: 70%;
    justify-content: center;

}

.contact-img img {
    border-radius: 50%;
}

.index-bg {
    background-image: url("img/index-bg.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.index-bg-2 {
    background-image: url("img/product-1.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.index-bg-3 {
    background-image: url("img/product-2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.product-bg {
    background-image: url("img/product-bg.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: inherit;
}

.about-us-bg {
    background-image: url("img/about-us-bg.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.contact-bg {
    background-image: url("img/contact-bg.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.footer-elements {
    background: rgb(199, 203, 205);
    width: 100%;
    color: #fff;
}

.footer-content {
    margin: 0 auto;
    max-width: 75%;
    justify-content: center;
    border-bottom: 1px solid white;
    display: flex;


}

.footer-content-inside {
    width: 90%;
}

.social-links img {
    height: 50px;
    float: right;
    padding: 10px;
    border-radius: 50%;
}

.footer-iqhi-icon img {
    height: 60px;
    float: left;
}

.footer-bot {
    margin: 0 auto;
    max-width: 70%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-links {
    font-weight: 600;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    padding: 0 1em 0 2em;

}

.footer-links a {
    color: white;
}

.footer-links a:hover {
    color: white !important;
}

.maillink:hover {
    color: white !important;

}

.row {
    justify-content: center;
    display: flex;
}

.row.row-footer {
    justify-content: flex;
}

#footer {
    position: absolute;
    bottom: 0;
}


@media (min-width: 800px) {

    .footer-icons {
        justify-content: flex-end;
        display: flex;
        width: 50%;
    }

    .footer-iqhi-icon {
        justify-content: start;
        display: flex;
        width: 50%;
    }

}


@media (min-width: 320px) and (max-width: 480px) {

    .footer-icons {
        justify-content: center;
    }

    .footer-iqhi-icon {
        justify-content: center;
    }

}
