#navbar
{
    position:sticky;
    top: 0;
    z-index: 10;
}


.header_area {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 0;
    height: 100px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position:left;
    -webkit-transition-duration: 700ms;
    transition-duration: 700ms;
}

.header_area.sticky {
    background-color: rgb(74, 90, 119);
    background-image:none;
    box-shadow: 0 6px 30px rgb(64, 71, 92);
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar-brand img
{
    height: 70px;
    padding-left:30px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    float:right;
    text-align: left;
}
#navbar ul li a:hover
{
    color: rgb(89, 168, 85)!important;
}

.navbar-toggler
{
    border: none!important;
}

.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

.nav-link.sticky
{
    color: #f2f2f2!important;
    font-weight: 600;
    font-size:16px;
}

.display-4
{
    text-align:left;
    color: #70926E!important;
    border: none!important;
    
}
.contact{
    width: 100%;
    min-height: 100vh;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    padding: 20px;
}
.contact-wrap{
    width: 790px;
    background: #fff;
    border-radius: 10px;
    padding: 72px 55px 90px 55px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contact-form{
    width: 100%;
}
.contact-title{
    display:block;
    font-family:Courier, sans-serif;
    font-size:50px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align:center;
    padding-bottom: 90px;
    font-weight: bold;
}
.wrap-input{
    width:100%;
    border-bottom:2px solid #adadad;
    margin-bottom: 40px;
    position:relative;
    color: transparent;
}
.input{
    height:45px;
    display:block;
    width: 100%;
    font-family:Courier;
    font-size: 15px;
    color: #ffffff;
    border: none;
    background-color:transparent;
    line-height: 1.2;
}
.focus-input{
    position:absolute;
    display:block;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.container-button{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    padding-top: 13px;
}

.wrap-button{
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
}
.contact-button{
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 200px;
    height: 50px;
    font-family: Courier;
    font-size: 20px;
    background-color:transparent;
    color:white;
    line-height: 1.2;
    border: 2px solid white;
    border-radius: 12px;

    background: linear-gradient(to right, #ffffff 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.contact-button:hover{
    color:black;

    background-position: left bottom;
}
::placeholder{
    color:white;
    font-family: "Courier New", Courier, monospace;
}

textarea{
    height: 150px;
}